<div class="col-md-6">
<div id="{{webfunc.name}}" class="panel panel-default">
<script type="text/javascript">
  $(function() {
    var show_result = function(data) {
      if(data.success) {
        $('#{{webfunc.name}}__return').html(data.return_html);
      } else {
        $('#{{webfunc.name}}__return').html(
'<div class="alert alert-danger alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data.error_msg + '</div>'
        )
      }
    };

    var submit_form = function(e) {
        var form_data = new FormData();
        form_data.append("_fname", "{{webfunc.name}}")
        {% for arg in webfunc.args %}
        form_data.append("{{arg.name}}",
                         $('#{{webfunc.name}} input[name="{{arg.name}}"]').val())
        {% endfor %}
        $.ajax({
            type: 'POST',
            url: $SCRIPT_ROOT + '/_call',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
              show_result(data);
            },
        });
      return false;
    };

    $('button#{{webfunc.name}}__calculate').bind('click', submit_form);

    $('#{{webfunc.name}} input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name={{webfunc.args[0].name}}]').focus();
  });
</script>
<div class="panel-heading">{{webfunc.print_name}}</div>
<div class="panel-body">
  {% if webfunc.help_message %}
  <div class="text-muted">{{webfunc.help_message|safe}}</div>
  {% endif %}
<div class="form-horizontal">
  {% for arg in webfunc.args %}
  <div class="form-group">
    <label for="{{arg.name}}" class="col-md-5 control-label">{{arg.print_name}}</label>
    <div class="col-md-6">
      <input type="text" name="{{arg.name}}" class="form-control" value="{{arg.default}}" placeholder="">
    </div>
  </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-md-offset-5 col-md-7">
      <button type="submit" id="{{webfunc.name}}__calculate" class="btn btn-primary">Calculate</button>
    </div>
  </div>
<div id="{{webfunc.name}}__return" class="centered"></div>
</div>
</div>
</div>
</div>
